<form id="productEdit{{index}}" class="ui form admin_catalog_edit hide" 
      action="/admin/catalogs/{{catalogId}}/products/update/{{id}}" method="POST">
    <div class="field">
        <label> Title </label>
        <input type="text" name="title" value="{{title}}" required>
    </div>
    <div class="field">
        <label> Description </label>
        <textarea name="description" rows="3" required>{{description}}</textarea>
    </div>
    <div class="admin_form_actions">
        <button id="hideEditProduct{{index}}" type="button" class="ui basic button"> Cancel </button>
        <button type="submit" class="ui btns"> Save changes </button>
    </div>
</form>

<script>
    document.getElementById('showEditProduct{{index}}').addEventListener('click', function() {
        document.getElementById('productRow{{index}}').style.display = 'none'
        document.getElementById('productEdit{{index}}').classList.remove('hide')
    })
    document.getElementById('hideEditProduct{{index}}').addEventListener('click', function() {
        document.getElementById('productEdit{{index}}').classList.add('hide')
        document.getElementById('productRow{{index}}').style.display = ''
    })
</script>